@import 'mixin';
@import 'variables';
@import 'resets';

body {
    font-family: "Roboto";
}

.home {
    // background-image: url('/img/Home Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.801);


    nav {
        background-color: rgba(0, 0, 0, 0.63);
    }

    .c-slide {
        padding-top: 0%;
        margin-top: 14%;

        padding-bottom: 3%;

        .content {
            text-align: center;
            color: aliceblue;

            h1 {
                @include Tablet {
                    font-size: 30px;
                }

                font-size: 60px;
                color: #ffffff;
                font-weight: 900;
                font-family: "Roboto";
                text-align: center;
            }

            h2 {
                @include Tablet {
                    font-size: 14px;
                }

                font-size: 24px;
                letter-spacing: 5px;
                color: #ffffff;
                font-weight: 900;
                font-family: "Roboto";
                text-align: center;
            }

            .underline {
                position: relative;
                white-space: nowrap;
            }

            .underline::after {
                content: '';
                display: block;
                width: 10%;
                height: 3px;
                background-color: #ffffff;
                margin: 0 auto 0;
                // text-align: center;
                position: relative;
            }

            .appointment {
                @include Tablet {
                    font-size: 14px;
                }

                font-size: 22px;
                color: #000000;
                font-weight: 500;
                font-family: "Roboto";
                text-align: center;
                background-color: #ffffff;

            }

        }
    }
}


// Welcome
.welcome {
    background-color: #ffffff;

    .img {
        @include Mobile-L {
            margin-top: 5%;
        }

        margin-top: -3%;
        z-index: 0;
        position: relative;
        width: 100%;

        .Beards {
            img {
                width: 100%;
            }

            .men {
                @media only screen and (max-width:1246px) {
                    bottom: 46px;
                }

                @include Laptop {
                    bottom: 40px;
                    padding-top: 1%;
                }

                @include Tablet {
                    bottom: 30px;
                    padding-top: 0;
                }

                @include Mobile-L {
                    bottom: 46px;
                    padding-top: 1.5%;
                }

                @include Mobile-M {
                    bottom: 42px;
                    padding-top: 0;
                }

                @include Mobile-S {
                    bottom: 34px;
                    padding-top: 0;
                }

                position: relative;
                bottom: 60px;
                text-align: center;
                background-color: #000000d4;
                color: white;
                width: 96%;
                margin-left: 2%;
                padding-top: 1.5%;
                height: 10%;
            }
        }

        .cuts {

            img {
                width: 100%;
            }

            .Hair {
                @media only screen and (max-width:1246px) {
                    bottom: 45px;
                    width: 95.7%;
                }

                @include Laptop {
                    bottom: 38px;
                    padding-top: 1%;
                }

                @include Tablet {
                    bottom: 27.5px;
                    padding-top: 0;
                }

                @include Mobile-L {
                    bottom: 46px;
                    padding-top: 1.5%;
                }

                @include Mobile-M {
                    bottom: 40px;
                    padding-top: 1.5%;
                }

                @include Mobile-S {
                    bottom: 34px;
                    padding-top: 0;
                }

                position: relative;
                bottom: 58.5px;
                text-align: center;
                background-color: #000000d4;
                color: white;
                width: 95.8%;
                padding-top: 1.5%;
                margin-left: 2%;
                height: 10.2%;
            }
        }

        .Moustache {
            img {
                width: 100%;
            }

            .Trim {
                @media only screen and (max-width:1246px) {
                    bottom: 46px;
                }

                @include Laptop {
                    bottom: 38px;
                    padding-top: 1%;
                }

                @include Tablet {
                    bottom: 28px;
                    padding-top: 0;
                }

                @include Mobile-L {
                    bottom: 47px;
                    padding-top: 1.5%;
                }

                @include Mobile-M {
                    bottom: 41px;
                    padding-top: 1.5%;
                }

                @include Mobile-S {
                    bottom: 33px;
                    padding-top: 0;
                }

                position: relative;
                bottom: 57px;
                text-align: center;
                background-color: #000000cd;
                color: white;
                width: 96%;
                padding-top: 1.5%;
                margin-left: 2%;
                height: 10%;
            }
        }
    }

    .w-text {
        h1 {
            @include Mobile-L() {
                font-size: 28px;
            }

            @include Mobile-S() {
                font-size: 25px;
            }

            font-size: 32px;
            color: #000000;
            font-weight: 900;
            font-family: "Roboto";
            // text-align: center;
        }

        .tech {
            .head {
                h1 {
                    font-size: 32px;
                    letter-spacing: 3px;
                    line-height: 25px;
                    color: #000000;
                    font-weight: 900;
                    font-family: "Roboto";
                    text-align: right;
                    float: left;

                }

                p {
                    font-size: 16px;
                    letter-spacing: 2px;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: #000000;
                    font-weight: 400;
                    font-family: "Roboto";
                    text-align: left;
                    padding-left: 7%;
                }
            }

            .underline {
                position: relative;
                white-space: nowrap;
            }

            .underline::after {
                content: '';
                display: block;
                width: 92%;
                height: 3px;
                background-color: black;
                // margin: 0 auto 0;
                // text-align: center;
                position: relative;
            }
        }

        .care {
            .head {
                h1 {
                    font-size: 32px;
                    letter-spacing: 3px;
                    line-height: 25px;
                    color: #000000;
                    font-weight: 900;
                    font-family: "Roboto";
                    text-align: right;
                    float: left;

                }

                p {
                    font-size: 16px;
                    letter-spacing: 2px;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: #000000;
                    font-weight: 400;
                    font-family: "Roboto";
                }
            }

            .underline {
                position: relative;
                white-space: nowrap;
            }

            .underline::after {
                content: '';
                display: block;
                width: 92%;
                height: 3px;
                background-color: black;
                // margin: 0 auto 0;
                // text-align: center;
                position: relative;
            }
        }

        .col-lg-5 {
            @media only screen and (max-width:1246px) {
                margin-top: 5%;
            }

            @include Laptop() {
                width: 30%;
            }

            @include Tablet {
                width: 90%;
                height: 340px;
            }

            @include Mobile-L {
                height: 300px;
            }

            // flex: 0 0 auto;
            width: 30.666667%;
            height: 292px;
            margin-left: 5%;
            margin-top: 3%;
        }

        .form {
            border: 3px solid #000000;
            border-radius: 2%;

            .form-control {
                width: 80%;
                margin-left: 9%;
                margin-top: 5%;
            }

            a {
                img {
                    @include Tablet {
                        margin-top: -7%;
                        width: 20%;
                    }

                    @include Mobile-L {
                        margin-top: -11%;
                    }

                    @include Mobile-S {
                        margin-top: -13%;
                    }

                    margin-top: -10%;
                    width: 25%;
                }
            }
        }

        .btn {
            border-radius: 0;
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 25px;
            color: #ffffff;
            font-weight: 500;
            font-family: "Roboto";
            text-align: center;
        }
    }
}

.check {
    background-color: #000000;

    .row {
        --bs-gutter-x: 0rem;
    }

    .check-img {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .check-content {
        text-align: center;
        padding-top: 10%;

        a {
            font-size: 30px;
        }

        h2 {
            padding-top: 5%;
            font-size: 24px;
            line-height: 25px;
            color: #ffffff;
            font-weight: 500;
            font-family: "Roboto";
        }

        h6 {
            font-size: 14px;
            letter-spacing: 11px;
            line-height: 25px;
            text-transform: uppercase;
            color: #ffffff;
            font-weight: 300;
            font-family: "Roboto";
        }

        p {
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 25px;
            color: #ffffff;
            font-weight: 500;
            font-family: "Roboto";
            text-align: center;
        }

        .checkservice {
            margin-top: 30px;
            font-size: 22px;
            color: #000000;
            font-weight: 500;
            font-family: "Roboto";
            text-align: center;
            background-color: #ffffff;

        }
    }
}


.our-service {
    text-align: center;

    .heading {
        h1 {
            font-size: 32px;
            line-height: 25px;
            color: #000000;
            font-weight: 900;
            font-family: "Roboto";
        }

        .underline {
            position: relative;
            // white-space: nowrap;
        }

        .underline::after {
            content: '';
            display: block;
            width: 13.2%;
            height: 3px;
            background-color: black;
            // margin: 0 auto 0;
            // text-align: center;
            position: relative;
            margin-left: 43.5%;
        }

        p {
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 25px;
            color: #000000;
            font-weight: 500;
            font-family: "Roboto";
            text-align: center;
        }
    }
}


.disc {
    background-image: url('/img/Discount.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

    h2 {
        font-size: 36px;
        color: #ffffff;
        font-weight: 300;
        font-family: "Roboto";
        text-align: center;
    }

    h1 {
        font-size: 60px;
        letter-spacing: 3px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Roboto";
        text-align: center;
    }

    button {
        font-size: 22px;
        color: #000000;
        font-weight: 500;
        font-family: "Roboto";
        text-align: center;

    }
}

.shop {
    text-align: center;

    .underline {
        position: relative;
        // white-space: nowrap;
    }

    .underline::after {
        content: '';
        display: block;
        width: 13.2%;
        height: 3px;
        background-color: black;
        position: relative;
        margin-left: 43.5%;
    }

    .row {
        --bs-gutter-x: 0rem;
    }
}

// Meet The Team

.team {
    text-align: center;
    background-color: #000000;

    h1 {
        font-size: 32px;
        line-height: 25px;
        color: #ffffff;
        font-weight: 900;
        font-family: "Roboto";
    }

    .underline {
        position: relative;
        // white-space: nowrap;
    }

    .underline::after {
        content: '';
        display: block;
        width: 160px;
        height: 3px;
        background-color: #ffffff;
        // color: #ffffff;
        position: relative;
        margin-left: 44%;
    }

    p {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 25px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Roboto";
    }

    .img img {
        width: 100%;
    }

    .img1 img {
        @include Tablet {
            height: 57px;
            margin-top: -28px;
        }

        @include Mobile-L {
            width: 18%;
        }

        @include Mobile-S {
            width: 22%;
        }

        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        border-radius: 70%;
        width: 26%;
        height: 80px;
        margin-top: -36px;
        border: 5px solid #ffffff;
    }

    .row {
        --bs-gutter-x: 0rem;
    }

    .card {
        .card-body {
            h3 {
                font-size: 24px;
                line-height: 25px;
                color: #000000;
                font-weight: 700;
                font-family: "Roboto";
                text-align: center;
            }

            h6 {
                font-size: 20px;
                line-height: 25px;
                color: #000000;
                font-weight: 400;
                font-family: "Roboto";
                text-align: center;
            }

            .btn {
                border: 3px solid black;
                border-radius: 0;
                width: 50%;
            }
        }
    }
}


// Plans & Pricing

.plans {
    text-align: center;

    h1 {
        font-size: 32px;
        line-height: 25px;
        color: #000000;
        font-weight: 900;
        font-family: "Roboto";
    }

    .underline {
        position: relative;
        white-space: nowrap;
    }

    .underline::after {
        content: '';
        display: block;
        width: 160px;
        height: 3px;
        background-color: #000000;
        margin: 0 auto 0;
        // text-align: center;
        position: relative;
    }

    .menu {
        ul {
            list-style-type: none;

            li {
                padding-right: 5%;
                font-size: 24px;
                line-height: 25px;
                color: #000000;
                font-weight: 500;
                font-family: "Roboto";
                text-align: center;
            }
        }
    }

    .list {
        p {
            @include Laptop{
                text-align: left;
            }
            font-size: 20px;
            line-height: 25px;
            color: #000000;
            font-weight: 500;
            font-family: "Roboto";
            text-align: center;

            span {
                @include Laptop {
                    display: none;
                }

            }

            strong {
                @include Laptop {
                    float: right;
                    text-align: right;
                }
            }
        }
    }

    .btn {
        font-size: 22px;
        line-height: 25px;
        text-transform: uppercase;
        // color: #ffffff;
        font-weight: 500;
        font-family: "Roboto";
        text-align: center;
        border-radius: 0;
    }

}


// Footer

.footer {
    background-color: #000000;
    color: #ffffff;

    .left {
        .contact {
            p {
                font-size: 18px;
                letter-spacing: 1px;
                line-height: 35px;
                color: #ffffff;
                font-weight: 500;
                font-family: "Roboto";
            }
        }

        .icom {
            a {
                font-size: 25px;
                padding-right: 2%;
            }
        }
    }

    .middle {
        h5 {
            text-transform: uppercase;
            font-size: 22px;
            letter-spacing: 1px;
            line-height: 35px;
            color: #ffffff;
            font-weight: 500;
            font-family: "Roboto";
        }

        h6 {
            font-size: 20px;
            letter-spacing: 1px;
            line-height: 35px;
            color: #ffffff;
            font-weight: 500;
            font-family: "Roboto";
        }

        .time {
            p {
                margin-bottom: 0;
                font-size: 18px;
                letter-spacing: 1px;
                line-height: 35px;
                color: #ffffff;
                font-weight: 400;
                font-family: "Roboto";
            }
        }
    }

    .right {
        h5 {
            font-size: 22px;
            letter-spacing: 1px;
            line-height: 35px;
            color: #ffffff;
            font-weight: 500;
            font-family: "Roboto";
        }

        .blog1 {
            p {
                @include Laptop {
                    padding-left: 0;
                }

                padding-left: 15px;
                font-size: 14px;
                letter-spacing: 0px;
                line-height: 20px;
                color: #999999;
                font-weight: 500;
                font-family: "Roboto";
            }

            h6 {
                @include Laptop {
                    padding-left: 0;
                }

                padding-left: 15px;
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 20px;
                color: #ffffff;
                font-weight: 500;
                font-family: "Roboto";
            }
        }
    }
}

.footer-text {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 35px;
    color: #000000;
    font-weight: bold;
    font-family: "Myriad Pro";
}